@model IEnumerable<WebBook.Models.History>
@{
    ViewData["Title"] = "PeriodHistory";
}

<h2>История взятия книг за период</h2>

<div id="qrCode" class="form-group">

    <form method="get" action="CurrentlyTaken" style="display:inline">
        <input type="submit" value="Количество книг" class="btn" />
    </form>

    <form method="get" action="Turnover" style="display:inline">
        <input type="submit" value="Оборот книги" class="btn" />
    </form>

    <form method="get" action="PeriodHistory" style="display:inline">
        <input type="submit" value="История за период" class="btn" />
    </form>
</div>

<h3>Выберите период истории</h3>
<form asp-action="PrintPeriod">
    <input type="date" name="FirstDate" class="form-group" />
    <input type="date" name="SecondDate" class="form-group" />
    <button asp-action="PeriodHistory">Ок</button>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Book)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Book.Barcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Issue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Book.Barcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Issue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div align="right">
        <button>Версия для печати</button>
    </div>
</form>