@model IEnumerable<WebBook.Models.History>

@{
    ViewData["Title"] = "PrintTurnOver";
}
<h3>Оборачиваемость книги</h3>
<h4>Период с @ViewData["DateStart"] по @ViewData["DateEnd"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.Barcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Barcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
            </tr>
        }
    </tbody>
</table>